@use '../utils/variables' as *;

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $gap-base;

  width: 100%;
}

@media screen and (max-width: 950px) {
  .wrapper {
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
}
